<app-navabar></app-navabar>
<div class="backToProducts">
  <button class="btn btn-info btn-products" type="button" (click)="backToProducts()">Back To Products</button>
</div>


<div *ngIf="cartData.cart" class="order-container">
  <h1>Order Details</h1>
  <div class="order-summary">
    <p><strong>Total:</strong> ₹{{ cartData.cart.total }}</p>
    <!-- <p><strong>Profile ID:</strong> {{ cartData.cart.profileId }}</p> -->
    <!-- <p><strong>User ID:</strong> {{ cartData.cart.userId }}</p> -->

  </div>
  <div class="order-items">
    <h2>Items</h2>
    <ul>
      <li *ngFor="let item of cartData.cart.items">
        <div class="product-info">
          <img [src]="item.product.imageUrl" alt="{{ item.product.name }}" class="product-image">
          <div class="product-details">
            <p><strong>Product Name:</strong> {{ item.product.name }}</p>
            <p><strong>Description:</strong> {{ item.product.description }}</p>
            <p><strong>Price:</strong> ₹{{ item.product.price }}</p>
            <p><strong>Quantity:</strong> {{ item.quantity }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>